body {
    background-color: black;
}

#title {
    /* position: absolute; */
    /* top: 37%; */
    color: white;
    font-size: 150%;
    /* height: 80%; */
    /* align-items: center; */
    /* width: 100%; */
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

#title-text {
   position: absolute;
   top: 37%; 
}

.arrow {
    position: absolute;
    bottom: 10%;
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 5px 5px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 8px;
    border-right-width: 8px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* height: 10%; */
}

.typewriter h1 {
    overflow: hidden;
    border-right-width: 0px;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .2em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}
